<div class="row">
    <br />
    <br />

  
  <div class="small-12 medium-6 large-4 columns">
    <center><%= image_tag("icons/insight.svg", width:256, height:256) %>
    <br />
    <h4>10x or go home</h4>
    <p>Working towards incremental improvements puts us in the rat race with everyone else. To set ourselves apart, we ask what would it look if it is an order of magnitude better?</p>
    </center>
  </div>

  <div class="small-12 medium-6 large-4 columns">
    <center><%= image_tag("icons/strategy.svg", width:256, height:256) %>
    <br />
    <h4>Force Multipliers</h4>
    <p>Not all factors are created equal. By identifying and then prioritizing the crucial few over the trivial many, we create an unfaiar advantage for ourselves.</p>
    </center>
  </div>

  <div class="small-12 medium-6 large-4  columns">
    <center><%= image_tag("icons/iterate.svg", width:256, height:256) %>
    <br />
    <h4>Abstract & Iterate</h4>
    <p>Content isn't building a bridge or launching a spaceship - we don't need all lights to be green before going ahead. Launch, abstract what works best, and iterate for continual improvement.</p>
    </center>
  </div>
  

</div>