<div class="row">
	<div class="small-12 columns" id="startpage">
	  <div class="headline">
        <p>The victorious strategist only seeks battle after the victory has been won - <i>Sun Tzu</i></p>
        <div class="small-12 columns">
          <h1>More content. Less marketing.</h1>
        </div>
        <div class="large-1 show-for-large-up columns">&nbsp</div>
        <div class="large-10 medium-12 columns">
          <p>Cut through the the sea of brands screaming for attention. Stack the odds in your favor - reach your audience with the right content in the right context. All it takes is a bit of Asymmetric Strategy.</p>
          <center><%= link_to 'Learn more', belief_path, class:"button ghost small-4" %></center>
        </div>
        <div class="large-1 show-for-large-up columns">&nbsp</div>
    </div>
  </div>
</div>
