<div class="row">
<div class="small-1 medium-2 columns">&nbsp</div>
<div class="small-10 medium-8 columns">
    <h1>New Project</h1>

      <%= render 'form' %>

      <%= link_to 'Back', projects_path %>
</div>
<div class="small-1 medium-2 columns">&nbsp</div>
</div>
</div>