<div class="row full small-collapse large-collapse" id="footer">

  <div class="small-12 columns img">
    <%= image_tag('footer/sunrise.jpg') %>
  </div>

  <div class= "row">
  	<div class="bottomlinks">
    <div class="small-12 medium-6 large-4 columns">
	  <small> © 2015 Shaun Yap  </small>
	</div>
	<div class="small-12 medium-6 large-4 columns">
	  <small> ABOUT </small>
	  <p> Asymmetric is Shaun Yap, a Singaporean Web Developer and Content Strategist based in Dubai. He lives on the internet.</p>
	</div>

	<div class="small-12 medium-6 large-4 columns">
	  <small> SITE MAP </small>
	  <dl>
	  	<dt><%= link_to 'Our belief', belief_path %></dt>
	  	<dt><%= link_to 'Work', projects_path %></dt>
	    <dt><a href='#'>Blog</a></dt>
	</dl>
    </div>
	</div>
  </div>
</div>
