<div id="small-sidebar" class="medium-12 columns">
        <div class="middle-header"> 
          <h2><%= link_to 'ASYMMETRIC', root_path %></h2>
          <%= link_to 'Our belief', belief_path, class:"button ghost" %> /
          <%= link_to 'Work', projects_path, class:"button ghost" %>/
          <a href="#" class="button ghost">Blog</a>
        </div> 
</div>
